<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Parishi Jain">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Parishi's professional website">
    <title>Parishi</title>

</head>
<body  style="font-family:Arial">
    <header style="color:rgba(8, 8, 157, 0.835); background:rgb(213, 239, 247)">
        <h1>Parishi Jain</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./cv.html">CV</a>
            <a href="./contact.html">Contact me</a>
            <a href="./fun.html">For fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact Me</h2>
        <form action="submit.php" method="post">
            <div>
                <label for = "name">Your name (required):</label>
                <input type = "text" id = "name" name="name" required>
                <label for = "email">Your email:</label>
                <input type = "email" id = "email" name = "email" required>
            </div>
            <div>
                <label for = "comment">Your comment:</label><br>
                <textarea id="comment" name = "comment" rows = "6" cols "50" required></textarea>
            </div>
            <input type = "submit" value = "SEND">
        </form>

        <table>
        <tr>
            <th><strong>Contact Method Description</strong></th>
        </tr>
        <tr>
            <td>Email</td>
            <td>parishij@andrew.cmu.edu</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>1 (424) 258-0277</td>
        </tr>
        <tr>
            <td>LinkedIn</td>
            <td><a href="https://www.linkedin.com/in/parishi--jain" "_blank">www.linkedin.com/in/parishi-jain</a></td>
        </tr>
    </table>
    </div>

    <footer>
        <p>&copy; 2024 designed and coded by Parishi Jain.</p>
    </footer>
</body>
</html>