<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Parishi Jain">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Parishi's professional website">
    <title>Parishi Jain</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Parishi Jain</h1>
        <nav class="navlinks">
            <a href="../index.html">home!</a>
            <a href="./cv.html">resume!</a>
            <a href="./contact.html">contact me!</a>
            <a href="./fun.html">about me!</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Going on beach walks</li>
            <li>Listening to music</li>
            <li>Reading</li>
            <li>Baking</li>
            <li>Watching shows/movies with my family</li>
        </ul>
    </div>
    <footer>
        <p>&copy; 2024 designed and coded by Parishi Jain.</p>
    </footer>
</body>
</html>
