<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Parishi Jain">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Parishi's professional website">
    <title>Parishi</title>

</head>
<body style="font-family:Arial">
    <header style="color:rgba(8, 8, 157, 0.835); background:rgb(213, 239, 247)">
        <h1>Parishi Jain</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="./cv.html">CV</a>
            <a href="./contact.html">Contact me</a>
            <a href="./fun.html">For fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Going on beach walks</li>
            <li>Listening to music</li>
            <li>Reading</li>
            <li>Baking</li>
            <li>Watching shows/movies with my family</li>
        </ul>
    </div>
    <footer>
        <p>&copy; 2024 designed and coded by Parishi Jain.</p>
    </footer>
</body>
</html>