* { 
    font-family: 'Roboto';
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
    
}
header {
    color: rgba(97, 8, 157, 0.835);
}
#webname {
    background-color: #d0c1fa;
}

.navlinks a{
    text-decoration: none;
    color:#553568;
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
}

.navlinks {
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
}

th {
    padding: 12px 20px;
    background-color: #d0c1fa;
    color:#836393;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: #f5f5f5
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

form input[type="submit"] {
    background-color: #553568;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 50pxg;
    padding: 10px 20px;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #836393;
}
